<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://www.sbhan.cn/ipa_download/coffee.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>https://www.sbhan.cn/ipa_download/icon512.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>https://www.sbhan.cn/ipa_download/icon513.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>smart-id.dev</string>
<key>bundle-version</key>
<string>1.4.7</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>咖啡</string>
</dict>
</dict>
</array>
</dict>
</plist>